body {
	font-family: Arial;
	font-size: 1.2em;
	height: 1800px;
}

.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 30px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 40px;
	background-color: #e0e0e0;
}

.container:hover input ~ .checkmark {
	background-color: #bbb;
}

.container input:checked ~ .checkmark {
	background-color: #29a8ab;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	left: 10px;
	top: 0px;
	width: 20px;
	height: 30px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.check-box {
	margin-bottom: 25px;
	margin-left: 25px;
	height: 25px;
}

.radio-cont {
	margin-top: 25px;
	margin-bottom: 25px;
}

.radio {
	margin-right: 15px;
	margin-left: 25px;
}

#checker {
	margin-left: 15px;
	width: 180px;
	height: 40px;
	background: #1EFF87;
	border-radius: 15px;
	border: none;
	box-shadow: 0 5px 10px rgba(25,213,113,.9);
	outline: none;
	cursor: pointer;
	transition: all .3s;
}

#checker:hover {
	box-shadow: 0 0px 10px rgba(0,246,213,.9);
	background: #00F6D5;
}

#mySelect {
	display: block;
	margin: 20px;
}

input[type=range] {
	height: 20px;
	-webkit-appearance: none;
	margin: 10px;
	width: 200px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #B6B6B6;
	border-radius: 25px;
	border: 1px solid #8A8A8A;
}

input[type=range]::-webkit-slider-thumb {
	border: 1px solid #8A8A8A;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	background: #DADADA;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #B6B6B6;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 16px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #B6B6B6;
	border-radius: 25px;
	border: 1px solid #8A8A8A;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #828282;
	border: 1px solid #8A8A8A;
	height: 24px;
	width: 35px;
	border-radius: 6px;
	background: #DADADA;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 16px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #B6B6B6;
	border: 1px solid #8A8A8A;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
	background: #B6B6B6;
	border: 1px solid #8A8A8A;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 1px 1px 1px #828282;
	border: 1px solid #8A8A8A;
	height: 24px;
	width: 35px;
	border-radius: 6px;
	background: #DADADA;
	cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
	background: #B6B6B6;
}

input[type=range]:focus::-ms-fill-upper {
	background: #B6B6B6;
}

#out {
	display: block;
	margin: 15px;
}
#nav {
	width: 160px;
	margin:0;
	margin-left: 50px;
	height: 65px;
	margin-bottom: 250px;
	margin-top: 25px;
}
.menu-item {
	width: 160px;
	height: 65px;
	background: #eee;
	font-size: 34px;
	line-height: 65px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
}

.submenu {
	margin-top: 0;
	width: 100%;
	text-align: center;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: none;
	flex-direction: column;
	transition: all .3s;
}

.submenu li {
	height: 50px;
	list-style: none;
	background: #ddd;
	line-height: 50px;
	cursor: pointer;
	transition: all .3s;
}

.submenu li:hover {
	background: #ccc;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	z-index: 100;
}

.calc {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
}
